<h2>BOOK MARK</h2>

<mat-error *ngIf="error">{{error}}</mat-error>

<div *ngIf="bookMarks && bookMarks.numberOfElements > 0">
    <div class="example-button-row">
        <button mat-raised-button (click)="bookMarks_onFirstPage()"><mat-icon>first_page</mat-icon></button>
        <button mat-raised-button (click)="bookMarks_onPreviousPage()"><mat-icon>chevron_left</mat-icon></button>
        <button mat-raised-button (click)="bookMarks_onNextPage()"><mat-icon>chevron_right</mat-icon></button>
        <button mat-raised-button (click)="bookMarks_onLastPage()"><mat-icon>last_page</mat-icon></button>
    </div>
    <mat-list>
        <mat-list-item *ngFor="let bookMark of bookMarks.elements" class="example-list-item">
            <img class="example-list-avatar" [attr.src]="'/api/v1/books/' + bookMark.book.id + '/pages/1.jpg?scaleType=FILL&scaleWidth=300&scaleHeight=200' | download | async">
            <div list-line-text>
                <div mat-list-line>book: {{ bookMark.book.name }}</div>
                <div mat-list-line>bookCollection: {{ bookMark.book.bookCollection.name }}</div>
                <div mat-list-line>bookMark.page: {{ bookMark.page }}</div>
                <div mat-list-line>bookMark.updateDate: {{ bookMark.updateDate | date:'dd-MM-yyyy HH:mm:ss' }}</div>
                <div mat-list-line><a (click)="bookMark_onSelect(bookMark)" mat-button>GO</a></div>
            </div>
        </mat-list-item>
    </mat-list>
</div>