<h2>USER UPDATE PASSWORD</h2>

<form [formGroup]="authenticatedUserForm" (ngSubmit)="authenticatedUserForm_onUpdatePassword()" class="example-form">
    <p>
    <mat-form-field class="example-full-width">
        <input type="password" formControlName="password" matInput placeholder="password">
    </mat-form-field>
    <mat-error *ngIf="authenticatedUserForm_submitted && authenticatedUserForm.controls.password.errors">
        <div *ngIf="authenticatedUserForm.controls.password.errors.required">password is required</div>
    </mat-error>
    </p>

    <p>
    <mat-form-field class="example-full-width">
        <input type="password" formControlName="updatePassword" matInput placeholder="updatePassword">
    </mat-form-field>
    <mat-error *ngIf="authenticatedUserForm_submitted && authenticatedUserForm.controls.updatePassword.errors">
        <div *ngIf="authenticatedUserForm.controls.updatePassword.errors.required">updatePassword is required</div>
    </mat-error>
    </p>

    <p>
    <button [disabled]="authenticatedUserForm_loading" mat-raised-button color="primary">update password</button>
    <button mat-raised-button color="primary" (click)="authenticatedUserForm_onCancel()">cancel</button>
    </p>
    <mat-error *ngIf="authenticatedUserForm_error">{{authenticatedUserForm_error}}</mat-error>
</form>
